body{
    background-image:url(/static/assets/images/back1.jpg);
}


#header-main{
    background-image:url(/static/assets/images/back2.jpg);

    padding:50px;
    height:400px;
    width:auto;
}


#info-bar{
    height:50px;
    font-size:30px;
    font-family:Georgia;
}